.card-container {
  padding-top: calc(var(--header-height) + 2em);
  padding-bottom: calc(var(--header-height) + 2em);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1em 2em;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  color: var(--color-input);
  background: var(--secondary-color);
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  align-items: center;
  font-weight: bold;
  font-size: 21px;
  color: #f8f8f8;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 14em;
  object-fit: cover;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    50deg,
    var(--secondary-color),
    var(--primary-color)
  );
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #b63b2c;
}

.card_title {
  color: var(--card-color);
  line-height: 15px;
  font-weight: bold;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: left;
  word-wrap: break-word;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card-btn-page {
  position: absolute;
  top: 40%;
  left: 100%;
  transform: translate(-100%, -100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 5em;
  height: 5em;
  border: none; /* Elimina el borde */
  outline: none;
  border-radius: 1em;
  background: transparent;
  color: blue;
}

.card-btn-github {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-100%, -100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 5em;
  height: 5em;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  color: black;
}

.card:hover .card-btn-page,
.card:hover .card-btn-github {
  opacity: 1;
}

.fa-brands.fa-github,
.fa-solid.fa-link {
  background-color: transparent;
  border-radius: 50%;
  font-size: 2em;
  cursor: pointer;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s, color 0.2s;
}

.fa-brands.fa-github:hover,
.fa-solid.fa-link:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fa-brands.fa-github:hover {
  color: rgba(0, 0, 0, 0.404);
}

.fa-solid.fa-link:hover {
  color: rgba(0, 0, 255, .404);
}

.fa-brands.fa-github:active,
.fa-solid.fa-link:active {
  transform: translateY(0);
  box-shadow: none;
}
