.skills-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.skills-title {
  display: flex;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--big-font);
  font-weight: var(--font-bold);
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.skills-title::before {
  content: "<[";
}
.skills-title::after {
  content: "]>";
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.skills__icon-css,
.skills__icon-html,
.skills__icon-javascript,
.skills__icon-react,
.skills__icon-nodejs,
.skills__icon {
  max-width: 5em;
  height: auto;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out, transform 1.5s ease-in-out, opacity 1s ease-in-out;
  border-radius: 80%;
  opacity: 0;
  transform: translateY(50px);  
}

.skills__icon.appear {
  opacity: 1;
  transform: translateY(0);
}

.skills__icon-css {
  box-shadow: 0px 40px 40px hsla(228, 78%, 52%, 0.902);
}
.skills__icon-html {
  box-shadow: 0px 40px 40px #e34f26e6;
}
.skills__icon-javascript {
  box-shadow: 0px 40px 40px #f7df1ee6;
}
.skills__icon-react {
  box-shadow: 0px 40px 40px #00d8ffe6;
}
.skills__icon-nodejs {
  box-shadow: 0px 40px 40px #8cc84be6;
}

.skills__icon-css:hover {
  transform: scale(1.1);
}
.skills__icon-html:hover {
  transform: scale(1.1);
}
.skills__icon-javascript:hover {
  transform: scale(1.1);
}
.skills__icon-react:hover {
  transform: scale(1.1);
}
.skills__icon-nodejs:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .skills-title {
    font-size: var(--medium-font);
    top: 17%;
  }

  .skills {
    padding-top: 7em;
    padding-bottom: 7em;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    max-width: 50%;
  }

  .skills__icon-css,
  .skills__icon-html,
  .skills__icon-javascript,
  .skills__icon-react,
  .skills__icon-nodejs,
  .skills__icon {
    max-width: 3em;
  }
}
