.header-container{
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  padding: 1em;
  z-index: var(--z-fixed);
  background: var(--bg-color);
  box-shadow: 0 0 10px #0000001a;
}

.header__logo-content {
  display: flex;
  align-items: center;
}
.header__logo-title {
  font-size: var(--normal-font);
  white-space: nowrap;
  font-weight: var(--font-bold);
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__logo {
  width: 3em;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__nav-list {
  list-style: none;
  display: inline-flex;
  gap: 1.5em;
}

.header__nav-list-mobile {
  list-style: none;
  display: inline-flex;
  gap: 1.5em;
}

.header__nav-link {
  text-decoration: none;
  color: var(--text-color);
}

.header__nav-item {
  position: relative;
  cursor: pointer;
}

.header__nav-item:hover:after {
  width: 100%;
}

.header__nav-item:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 760px) {
  .header {
    position: fixed;
    bottom: 0;
  }

  /* ===== ESTILOS DEL MENU OCULTO ===== */
  .header__nav-list {
    display: none;
  }

  .header__nav-list-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var( --color-footer);
    right: 0;
    bottom: var(--header-height);
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 90vh;
    box-shadow: 0 0 10px #0000001a;
  }

  
  .header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  .bx.bx-x{
    color: var(--color-close);
  }
}

